@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Montserrat:600,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #848FAC;
  line-height: 1;
  font-family: "Inter";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 76.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.logo {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 32px;
  line-height: 1, 2;
}

.button {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 16px;
  gap: 10px;
  background: #0E1734;
  border-radius: 4px;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.title {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #192252;
}

.title__big {
  font-size: 48px;
}

.text {
  font-weight: 400;
  line-height: 150%;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  color: #192252;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}

.menu__link {
  color: #192252;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer {
  background-color: #0B265A;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #D9DBDE;
}

.footer__logo {
  color: #ffffff;
  margin-bottom: 0.8125rem;
}

.footer-main-block__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  width: 11.625rem;
  margin-bottom: 2.25rem;
}

.social-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-footer__item:not(:last-child) {
  margin-right: 1.5rem;
}

.content-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 6.5625rem;
}

.content-footer__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
}

.item-content__item:not(:last-child) {
  margin-bottom: 1.5rem;
}

.item-content__item-title {
  font-weight: 700;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.hero__text {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  max-width: 30.3125rem;
}

.hero__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.5rem;
}

.img-2 {
  margin-top: 5rem;
}

.learn__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7.875rem;
}

.learn__title {
  margin-bottom: 1.5rem;
}

.learn__text {
  margin-bottom: 1rem;
}

.learn__button {
  margin-top: 2rem;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 100%;
      -ms-flex-positive: 100%;
          flex-grow: 100%;
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__row:not(:last-child) {
  margin-bottom: 2rem;
}

.about__title {
  margin-bottom: 1.5rem;
}

.item-about__picture-1 {
  margin-left: 7.875rem;
}

.item-about__picture-2 {
  margin-right: 7.875rem;
}

.rooms__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rooms__main-block {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rooms__text {
  max-width: 36.75rem;
  margin: 0 auto;
  display: block;
}

.rooms__button {
  margin: 0 auto;
  display: block;
}

.rooms__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}

.item-rooms__title {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: #000000;
}

.how-get__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.how-get__discraption {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #424F7B;
}

.how-get__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.how-get__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #0E1734;
}

.how-get__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

.how-get__item {
  background: #FFFFFF;
  border-radius: 4px;
  -webkit-box-shadow: -0.1em 0 1.4em rgba(0, 0, 0, 0.2);
          box-shadow: -0.1em 0 1.4em rgba(0, 0, 0, 0.2);
  padding: 2rem 2.25rem;
}

.item-how-get__main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-how-get__title {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: #424F7B;
}

.item-how-get__arrow {
  padding: 0.5625rem;
  background-color: #FF620A;
  border-radius: 50%;
}

.item-how-get__img {
  margin: 0 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-how-get__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #848FAC;
}

.customers__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.customers__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-customers__text {
  text-align: center;
}

.item-customers__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #192252;
}

.hidden {
  display: none;
}

@media (min-width: 76.875em) {
  .header__container {
    padding-top: 3.5rem;
  }

  .header__container {
    padding-bottom: 2.8125rem;
  }

  .footer {
    padding-top: 7.5rem;
  }

  .footer {
    padding-bottom: 7.5rem;
  }

  .hero {
    padding-top: 5rem;
  }

  .hero {
    padding-bottom: 6rem;
  }

  .about {
    padding-top: 5rem;
  }

  .about {
    padding-bottom: 3.75rem;
  }

  .rooms {
    padding-top: 5rem;
  }

  .rooms {
    padding-bottom: 5rem;
  }

  .rooms__title {
    margin-bottom: 1.5rem;
  }

  .rooms__text {
    margin-bottom: 2rem;
  }

  .rooms__list {
    margin-top: 5.5rem;
  }

  .item-rooms__title {
    margin-top: 2rem;
  }

  .item-rooms__text {
    margin-top: 1.125rem;
  }

  .item-rooms__text {
    margin-bottom: 2rem;
  }

  .how-get {
    padding-top: 5rem;
  }

  .how-get {
    padding-bottom: 5rem;
  }

  .how-get__container {
    gap: 12.8125rem;
  }

  .how-get__discraption {
    margin-bottom: 0.75rem;
  }

  .how-get__title {
    margin-bottom: 1.5rem;
  }

  .how-get__text {
    margin-bottom: 2rem;
  }

  .how-get__button {
    margin-right: 1.5rem;
  }

  .how-get__item {
    min-width: 36.75rem;
  }

  .item-how-get__title {
    margin-bottom: 1.5rem;
  }

  .customers {
    padding-top: 5rem;
  }

  .customers {
    padding-bottom: 5rem;
  }

  .customers__list {
    padding-top: 3.875rem;
  }

  .item-customers__picture {
    margin-bottom: 2.75rem;
  }

  .item-customers__text {
    margin-bottom: 2.5rem;
  }

  .item-customers__text {
    max-width: 49.5625rem;
  }
}

@media (max-width: 20em) {
  .header__container {
    padding-top: 1.875rem;
  }

  .header__container {
    padding-bottom: 1.6875rem;
  }

  .footer {
    padding-top: 5rem;
  }

  .footer {
    padding-bottom: 5rem;
  }

  .hero {
    padding-top: 2.5rem;
  }

  .hero {
    padding-bottom: 2.5rem;
  }

  .about {
    padding-top: 3.75rem;
  }

  .about {
    padding-bottom: 3.75rem;
  }

  .rooms {
    padding-top: 3.75rem;
  }

  .rooms {
    padding-bottom: 3.75rem;
  }

  .rooms__title {
    margin-bottom: 1.25rem;
  }

  .rooms__text {
    margin-bottom: 1.5625rem;
  }

  .rooms__list {
    margin-top: 4.6875rem;
  }

  .item-rooms__title {
    margin-top: 1.5625rem;
  }

  .item-rooms__text {
    margin-top: 0.9375rem;
  }

  .item-rooms__text {
    margin-bottom: 1.5625rem;
  }

  .how-get {
    padding-top: 3.75rem;
  }

  .how-get {
    padding-bottom: 3.75rem;
  }

  .how-get__container {
    gap: 1.25rem;
  }

  .how-get__discraption {
    margin-bottom: 0.625rem;
  }

  .how-get__title {
    margin-bottom: 1rem;
  }

  .how-get__text {
    margin-bottom: 1.5rem;
  }

  .how-get__button {
    margin-right: 0.75rem;
  }

  .how-get__item {
    min-width: 25rem;
  }

  .item-how-get__title {
    margin-bottom: 1.25rem;
  }

  .customers {
    padding-top: 3.75rem;
  }

  .customers {
    padding-bottom: 3.75rem;
  }

  .customers__list {
    padding-top: 2.5rem;
  }

  .item-customers__picture {
    margin-bottom: 1.875rem;
  }

  .item-customers__text {
    margin-bottom: 1.875rem;
  }

  .item-customers__text {
    max-width: 31.25rem;
  }
}

@media (min-width: 20em) and (max-width: 76.875em) {
@supports (padding-top: clamp( 1.875rem , 1.3035714286rem  +  2.8571428571vw , 3.5rem )) {
    .header__container {
      padding-top: clamp( 1.875rem , 1.3035714286rem  +  2.8571428571vw , 3.5rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.3035714286rem  +  2.8571428571vw , 3.5rem )) {
    .header__container {
      padding-top: calc(1.875rem + 1.625 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 1.6875rem , 1.2918956044rem  +  1.978021978vw , 2.8125rem )) {
    .header__container {
      padding-bottom: clamp( 1.6875rem , 1.2918956044rem  +  1.978021978vw , 2.8125rem );
    }
}

@supports not (padding-bottom: clamp( 1.6875rem , 1.2918956044rem  +  1.978021978vw , 2.8125rem )) {
    .header__container {
      padding-bottom: calc(1.6875rem + 1.125 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 5rem , 4.1208791209rem  +  4.3956043956vw , 7.5rem )) {
    .footer {
      padding-top: clamp( 5rem , 4.1208791209rem  +  4.3956043956vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 5rem , 4.1208791209rem  +  4.3956043956vw , 7.5rem )) {
    .footer {
      padding-top: calc(5rem + 2.5 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 5rem , 4.1208791209rem  +  4.3956043956vw , 7.5rem )) {
    .footer {
      padding-bottom: clamp( 5rem , 4.1208791209rem  +  4.3956043956vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 5rem , 4.1208791209rem  +  4.3956043956vw , 7.5rem )) {
    .footer {
      padding-bottom: calc(5rem + 2.5 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 2.5rem , 1.6208791209rem  +  4.3956043956vw , 5rem )) {
    .hero {
      padding-top: clamp( 2.5rem , 1.6208791209rem  +  4.3956043956vw , 5rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 1.6208791209rem  +  4.3956043956vw , 5rem )) {
    .hero {
      padding-top: calc(2.5rem + 2.5 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 1.2692307692rem  +  6.1538461538vw , 6rem )) {
    .hero {
      padding-bottom: clamp( 2.5rem , 1.2692307692rem  +  6.1538461538vw , 6rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.2692307692rem  +  6.1538461538vw , 6rem )) {
    .hero {
      padding-bottom: calc(2.5rem + 3.5 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 3.75rem , 3.3104395604rem  +  2.1978021978vw , 5rem )) {
    .about {
      padding-top: clamp( 3.75rem , 3.3104395604rem  +  2.1978021978vw , 5rem );
    }
}

@supports not (padding-top: clamp( 3.75rem , 3.3104395604rem  +  2.1978021978vw , 5rem )) {
    .about {
      padding-top: calc(3.75rem + 1.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 3.75rem , 3.75rem  +  0vw , 3.75rem )) {
    .about {
      padding-bottom: clamp( 3.75rem , 3.75rem  +  0vw , 3.75rem );
    }
}

@supports not (padding-bottom: clamp( 3.75rem , 3.75rem  +  0vw , 3.75rem )) {
    .about {
      padding-bottom: calc(3.75rem + 0 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 3.75rem , 3.3104395604rem  +  2.1978021978vw , 5rem )) {
    .rooms {
      padding-top: clamp( 3.75rem , 3.3104395604rem  +  2.1978021978vw , 5rem );
    }
}

@supports not (padding-top: clamp( 3.75rem , 3.3104395604rem  +  2.1978021978vw , 5rem )) {
    .rooms {
      padding-top: calc(3.75rem + 1.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 3.75rem , 3.3104395604rem  +  2.1978021978vw , 5rem )) {
    .rooms {
      padding-bottom: clamp( 3.75rem , 3.3104395604rem  +  2.1978021978vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 3.75rem , 3.3104395604rem  +  2.1978021978vw , 5rem )) {
    .rooms {
      padding-bottom: calc(3.75rem + 1.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 1.1620879121rem  +  0.4395604396vw , 1.5rem )) {
    .rooms__title {
      margin-bottom: clamp( 1.25rem , 1.1620879121rem  +  0.4395604396vw , 1.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 1.1620879121rem  +  0.4395604396vw , 1.5rem )) {
    .rooms__title {
      margin-bottom: calc(1.25rem + 0.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , 1.4086538462rem  +  0.7692307692vw , 2rem )) {
    .rooms__text {
      margin-bottom: clamp( 1.5625rem , 1.4086538462rem  +  0.7692307692vw , 2rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , 1.4086538462rem  +  0.7692307692vw , 2rem )) {
    .rooms__text {
      margin-bottom: calc(1.5625rem + 0.4375 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-top: clamp( 4.6875rem , 4.4017857143rem  +  1.4285714286vw , 5.5rem )) {
    .rooms__list {
      margin-top: clamp( 4.6875rem , 4.4017857143rem  +  1.4285714286vw , 5.5rem );
    }
}

@supports not (margin-top: clamp( 4.6875rem , 4.4017857143rem  +  1.4285714286vw , 5.5rem )) {
    .rooms__list {
      margin-top: calc(4.6875rem + 0.8125 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-top: clamp( 1.5625rem , 1.4086538462rem  +  0.7692307692vw , 2rem )) {
    .item-rooms__title {
      margin-top: clamp( 1.5625rem , 1.4086538462rem  +  0.7692307692vw , 2rem );
    }
}

@supports not (margin-top: clamp( 1.5625rem , 1.4086538462rem  +  0.7692307692vw , 2rem )) {
    .item-rooms__title {
      margin-top: calc(1.5625rem + 0.4375 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-top: clamp( 0.9375rem , 0.8715659341rem  +  0.3296703297vw , 1.125rem )) {
    .item-rooms__text {
      margin-top: clamp( 0.9375rem , 0.8715659341rem  +  0.3296703297vw , 1.125rem );
    }
}

@supports not (margin-top: clamp( 0.9375rem , 0.8715659341rem  +  0.3296703297vw , 1.125rem )) {
    .item-rooms__text {
      margin-top: calc(0.9375rem + 0.1875 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , 1.4086538462rem  +  0.7692307692vw , 2rem )) {
    .item-rooms__text {
      margin-bottom: clamp( 1.5625rem , 1.4086538462rem  +  0.7692307692vw , 2rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , 1.4086538462rem  +  0.7692307692vw , 2rem )) {
    .item-rooms__text {
      margin-bottom: calc(1.5625rem + 0.4375 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 3.75rem , 3.3104395604rem  +  2.1978021978vw , 5rem )) {
    .how-get {
      padding-top: clamp( 3.75rem , 3.3104395604rem  +  2.1978021978vw , 5rem );
    }
}

@supports not (padding-top: clamp( 3.75rem , 3.3104395604rem  +  2.1978021978vw , 5rem )) {
    .how-get {
      padding-top: calc(3.75rem + 1.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 3.75rem , 3.3104395604rem  +  2.1978021978vw , 5rem )) {
    .how-get {
      padding-bottom: clamp( 3.75rem , 3.3104395604rem  +  2.1978021978vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 3.75rem , 3.3104395604rem  +  2.1978021978vw , 5rem )) {
    .how-get {
      padding-bottom: calc(3.75rem + 1.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (gap: clamp( 1.25rem , -2.8159340659rem  +  20.3296703297vw , 12.8125rem )) {
    .how-get__container {
      gap: clamp( 1.25rem , -2.8159340659rem  +  20.3296703297vw , 12.8125rem );
    }
}

@supports not (gap: clamp( 1.25rem , -2.8159340659rem  +  20.3296703297vw , 12.8125rem )) {
    .how-get__container {
      gap: calc(1.25rem + 11.5625 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.581043956rem  +  0.2197802198vw , 0.75rem )) {
    .how-get__discraption {
      margin-bottom: clamp( 0.625rem , 0.581043956rem  +  0.2197802198vw , 0.75rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.581043956rem  +  0.2197802198vw , 0.75rem )) {
    .how-get__discraption {
      margin-bottom: calc(0.625rem + 0.125 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 1rem , 0.8241758242rem  +  0.8791208791vw , 1.5rem )) {
    .how-get__title {
      margin-bottom: clamp( 1rem , 0.8241758242rem  +  0.8791208791vw , 1.5rem );
    }
}

@supports not (margin-bottom: clamp( 1rem , 0.8241758242rem  +  0.8791208791vw , 1.5rem )) {
    .how-get__title {
      margin-bottom: calc(1rem + 0.5 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 1.5rem , 1.3241758242rem  +  0.8791208791vw , 2rem )) {
    .how-get__text {
      margin-bottom: clamp( 1.5rem , 1.3241758242rem  +  0.8791208791vw , 2rem );
    }
}

@supports not (margin-bottom: clamp( 1.5rem , 1.3241758242rem  +  0.8791208791vw , 2rem )) {
    .how-get__text {
      margin-bottom: calc(1.5rem + 0.5 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-right: clamp( 0.75rem , 0.4862637363rem  +  1.3186813187vw , 1.5rem )) {
    .how-get__button {
      margin-right: clamp( 0.75rem , 0.4862637363rem  +  1.3186813187vw , 1.5rem );
    }
}

@supports not (margin-right: clamp( 0.75rem , 0.4862637363rem  +  1.3186813187vw , 1.5rem )) {
    .how-get__button {
      margin-right: calc(0.75rem + 0.75 * (100vw - 20rem) / 56.875);
    }
}

@supports (min-width: clamp( 25rem , 20.8681318681rem  +  20.6593406593vw , 36.75rem )) {
    .how-get__item {
      min-width: clamp( 25rem , 20.8681318681rem  +  20.6593406593vw , 36.75rem );
    }
}

@supports not (min-width: clamp( 25rem , 20.8681318681rem  +  20.6593406593vw , 36.75rem )) {
    .how-get__item {
      min-width: calc(25rem + 11.75 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 1.1620879121rem  +  0.4395604396vw , 1.5rem )) {
    .item-how-get__title {
      margin-bottom: clamp( 1.25rem , 1.1620879121rem  +  0.4395604396vw , 1.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 1.1620879121rem  +  0.4395604396vw , 1.5rem )) {
    .item-how-get__title {
      margin-bottom: calc(1.25rem + 0.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 3.75rem , 3.3104395604rem  +  2.1978021978vw , 5rem )) {
    .customers {
      padding-top: clamp( 3.75rem , 3.3104395604rem  +  2.1978021978vw , 5rem );
    }
}

@supports not (padding-top: clamp( 3.75rem , 3.3104395604rem  +  2.1978021978vw , 5rem )) {
    .customers {
      padding-top: calc(3.75rem + 1.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 3.75rem , 3.3104395604rem  +  2.1978021978vw , 5rem )) {
    .customers {
      padding-bottom: clamp( 3.75rem , 3.3104395604rem  +  2.1978021978vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 3.75rem , 3.3104395604rem  +  2.1978021978vw , 5rem )) {
    .customers {
      padding-bottom: calc(3.75rem + 1.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 2.5rem , 2.0164835165rem  +  2.4175824176vw , 3.875rem )) {
    .customers__list {
      padding-top: clamp( 2.5rem , 2.0164835165rem  +  2.4175824176vw , 3.875rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 2.0164835165rem  +  2.4175824176vw , 3.875rem )) {
    .customers__list {
      padding-top: calc(2.5rem + 1.375 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.5673076923rem  +  1.5384615385vw , 2.75rem )) {
    .item-customers__picture {
      margin-bottom: clamp( 1.875rem , 1.5673076923rem  +  1.5384615385vw , 2.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.5673076923rem  +  1.5384615385vw , 2.75rem )) {
    .item-customers__picture {
      margin-bottom: calc(1.875rem + 0.875 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.6552197802rem  +  1.0989010989vw , 2.5rem )) {
    .item-customers__text {
      margin-bottom: clamp( 1.875rem , 1.6552197802rem  +  1.0989010989vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.6552197802rem  +  1.0989010989vw , 2.5rem )) {
    .item-customers__text {
      margin-bottom: calc(1.875rem + 0.625 * (100vw - 20rem) / 56.875);
    }
}

@supports (max-width: clamp( 31.25rem , 24.8104395604rem  +  32.1978021978vw , 49.5625rem )) {
    .item-customers__text {
      max-width: clamp( 31.25rem , 24.8104395604rem  +  32.1978021978vw , 49.5625rem );
    }
}

@supports not (max-width: clamp( 31.25rem , 24.8104395604rem  +  32.1978021978vw , 49.5625rem )) {
    .item-customers__text {
      max-width: calc(31.25rem + 18.3125 * (100vw - 20rem) / 56.875);
    }
}
}

@media (any-hover: hover) {
  .button:hover {
    color: #FFFFFF;
    background-color: #FF620A;
  }

  .menu__link:hover {
    color: #FF620A;
  }

  .item-content__link:hover {
    text-decoration: underline;
  }
}